Django==1.6.2
Pillow==2.4.0
lxml==3.3.0
MySQL-python==1.2.5
django-tastypie==0.11.0
html5lib==0.999
beautifulsoup4==4.3.2
South==0.8.4
django-grappelli==2.5.3
django-ajax-upload-widget==0.5.5
ajaxuploader==0.3.8
sorl-thumbnail==11.12